body{
    background-color:rgb(192, 255, 253);
}
p:hover {
    background-color:rgb(103, 177, 170);
}
    h1
    {
        color:#000;
    }
h3{
    color:rgb(0,0,0);
}

h5{
    color:rgb(0,0,0);
}
h3{
    font-size:20px;
}
.Goodness gracious{
    font: size 5px;
    color:rgba(208, 173, 218, 0.592);
}

p{
    color:rgb(124, 39, 89);
}
span{
    color:green;
}
span:hover{
    background-color:aquamarine;
}
h3{
    font-style: italic;
}
table, th, td {
    border: 1px solid;
  }
  
th, td {
    border: 1px solid black;
  }
th {
   color:rgb(140, 180, 54);
      }
td{
 color:rgb(4, 37, 30);
 }
       
      td {
        text-align: center;
          }
          th,td {
            width:200px;
            padding:0px 4px 4px 4px;
            margin: -28px 0px -10px 100px;
            background: lightblue;
            border-top: 2px solid rgba(158, 156, 168, 0.282);
            border-right: 4px dashed brown;
            border-bottom: 8px double rgb(131, 139, 167);
            border-left: 16px inset rgb(188, 201, 201);
         }
          tr:nth-child(even) {background-color: #f2f2f2;}


h4{
    font-style: inherit;
}
h2
    {
        text-shadow: 0 0 3px #FF0000;
    }
    h2:hover{
        background-color:rgb(100, 154, 136);
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: rgb(91, 62, 62);
      }
      
      li {
        float: left;
      }
      
      li a {
        display: block;
        color: rgb(255, 255, 255);
        text-align: center;
        padding: 13px 16px;
        text-decoration: none;
      }
      
      li a:hover {
        background-color:rgb(80, 140, 37);
      }


      .main-wrapper {
		border-radius: 4px;
		background-color: white;
		padding: 20px;
		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
		position: relative;
}

i.material-icons {
		font-size: 1.5rem;
		color: white;
		position: relative;
		border-radius: 50%;
		padding: 5px;
		margin: 3px;
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
		transition: color 0.2s ease, background-color 0.2s ease, transform 0.3s ease;
}

i.material-icons:after {
		content: "";
		width: 100%;
		height: 100%;
		border: solid 2px;
		transform: scale(0.8);
		position: absolute;
		top: -2px;
		left: -2px;
		border-radius: 50%;
		transition: all 0.3s ease;


}
i.material-icons:nth-of-type(1) {
    background-color: #cd8484;
}
i.material-icons:nth-of-type(2) {
    background-color: #ec9f83;
}
i.material-icons:nth-of-type(3) {
    background-color: #cdb274;
}
